<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <span>l: {{ locations }}</span>
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <i class="fas fa-eclipse fa-rotate-90"></i>
    </div>
    <div class="sidebar-brand-text mx-3">TCT Commissioner</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">


  <!-- Heading -->
  <div class="sidebar-heading">
    Sections
  </div>

  <!-- Nav Item - Installations Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInstallations" aria-expanded="true" aria-controls="collapseInstallations">
      <i class="fas fa-fw fa-ball-pile"></i>
      <span>Installations</span>
    </a>
    <div id="collapseInstallations" class="collapse" aria-labelledby="headingInstallations" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        {% for installation in installations %}
        <a class="collapse-item" href="/{{ installation.slug }}">{{ installation.name }}</a>
        {% endfor %}
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStations" aria-expanded="true" aria-controls="collapseStations">
      <i class="fas fa-fw fa-dot-circle"></i>
      <span>Stations</span>
    </a>
    <div id="collapseStations" class="collapse" aria-labelledby="headingStations" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        {% for station in all_stations %}
        <a class="collapse-item" href="/{{ station.installation.slug }}/{{ station.slug }}">{{ station.name }}</a>
        {% endfor %}
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
